body {
  text-align: center;
}

.total-grid-wrapper {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.card-body {
  text-align: center;
  margin: auto;
}

.grid-container {
  width: 400px;
  height: 400px;
  display: grid;
  grid-gap: 1px;
  background-color: darkblue;
  padding: 10px;
}

.grid-item {
  background-color: lightblue;
  padding: 10px;
}

.grid-item:hover {
  background-color: red;
}

.ship-wrapper {
  display: flex;
  margin: 2%;
  justify-content: space-around;
}

.ship {
  margin: 2%;
}

.ship-elem {
  height: 30px;
  width: 30px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 50%;
}

.ship-elem:hover {
  background-color: purple;
}

.guess-wrapper {
  display: flex;
  justify-content: center;
}
